<% content_for :right_page_toolbar do %>
<%= link_to(render_icon_and_text_content('icon-circle-arrow-left', "#{t('labels.back_to')}#{t('model.list', :model => User.model_name.human)}"), users_path, :class => 'btn btn-inverse') %>
<% end %>

<%= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role_id, collection: Role.all.map {|v| [v.name, v.id]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-inverse' %>
  </div>
<% end %>
