<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: t('activerecord.attributes.user.email') %>
    <%= f.input :password, required: true, label: false, placeholder: t('activerecord.attributes.user.password') %>
  </div>

  <div class="form-actions">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <%= f.button :submit, t('buttons.sign_in'), class: 'btn btn-inverse btn-large' %> 
        </div>
        <div class="span2">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="span2">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
            <%= link_to t('labels.forgot_your_password'), new_password_path(resource_name) %><br />
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end %>
